<div class="soup-key">
    <div class="soup-network">
        <table class="soup-table2">
            <tr><td class="soup-block2 soup-block-key soup-host-none"></td><td class="soup-label">Host is inactive and unregistered</td></tr>
            <tr><td class="soup-block2 soup-block-key soup-host-ping"></td><td class="soup-label">Host is pingable</td></tr>
            <tr><td class="soup-block2 soup-block-key soup-host-arp"></td><td class="soup-label">Host is ARPable</td></tr>
            <tr><td class="soup-block2 soup-block-key soup-host-unknown"></td><td class="soup-label">Host is active and unregistered</td></tr>
            <tr><td class="soup-block2 soup-block-key soup-host-warning"></td><td class="soup-label">Host is active and unregistered but in a reserved range</td></tr>
            <tr><td class="soup-block2 soup-block-key soup-host-dead"></td><td class="soup-label">Host is registered but inactive</td></tr>
        </table>
    </div>
</div>
