<div class="soup-key-wrapper">
<div class="soup-key">
    <ul>
        <li>
            <table class="soup-network">
                <tr><td class="soup-block2 soup-host-none"></td><td class="soup-label"> = Inactive and Unregistered&nbsp;</td></tr>
            </table>
        </li>
        <li>
            <table class="soup-network">
                <tr><td class="soup-block2 soup-host-dead"></td><td class="soup-label"> = Inactive and Registered&nbsp;</td></tr>
            </table>
        </li>
        <li>
            <table class="soup-network">
                <tr><td class="soup-block2 soup-host-arp"></td><td class="soup-label"> = Active and Registered (ARP only)&nbsp;</td></tr>
            </table>
        </li>
        <li>
            <table class="soup-network">
                <tr><td class="soup-block2 soup-host-ping"></td><td class="soup-label"> = Active and Registered (Ping)&nbsp;</td></tr>
            </table>
        </li>
        <li>
            <table class="soup-network">
                <tr><td class="soup-block2 soup-host-unknown"></td><td class="soup-label"> = Active and Unregistered&nbsp;</td></tr>
            </table>
        </li>
        <li>
            <table class="soup-network">
                <tr><td class="soup-block2 soup-host-warning"></td><td class="soup-label"> = Active and Unregistered (Reserved IP Range)&nbsp;</td></tr>
            </table>
        </li>
    </ul>
</div>
</div>

